node_modules/
.env
.wrangler/
wrangler.toml

# Deployment scripts
*.bat
*.ps1

# GitHub Actions workflow is kept for auto-deploy
# .github/

# Misc
*.log
.DS_Store
Thumbs.db
.dev.vars
.wrangler/tmp/bundle-2xv5iB/middleware-insertion-facade.js
.wrangler/tmp/bundle-2xv5iB/middleware-loader.entry.ts
.wrangler/tmp/bundle-hP1hux/middleware-insertion-facade.js
.wrangler/tmp/bundle-hP1hux/middleware-loader.entry.ts
.wrangler/tmp/bundle-I4IlbB/middleware-insertion-facade.js
.wrangler/tmp/bundle-I4IlbB/middleware-loader.entry.ts
.wrangler/tmp/bundle-ilPZHO/middleware-insertion-facade.js
.wrangler/tmp/bundle-ilPZHO/middleware-loader.entry.ts
.wrangler/tmp/bundle-jd56FC/middleware-insertion-facade.js
.wrangler/tmp/bundle-jd56FC/middleware-loader.entry.ts
.wrangler/tmp/bundle-nvne4Y/middleware-insertion-facade.js
.wrangler/tmp/bundle-nvne4Y/middleware-loader.entry.ts
.wrangler/tmp/bundle-O9jVOG/middleware-insertion-facade.js
.wrangler/tmp/bundle-O9jVOG/middleware-loader.entry.ts
.wrangler/tmp/bundle-qBj8pP/middleware-insertion-facade.js
.wrangler/tmp/bundle-qBj8pP/middleware-loader.entry.ts
.wrangler/tmp/bundle-Rg6GhE/middleware-insertion-facade.js
.wrangler/tmp/bundle-Rg6GhE/middleware-loader.entry.ts
.wrangler/tmp/bundle-ST3Grn/middleware-insertion-facade.js
.wrangler/tmp/bundle-ST3Grn/middleware-loader.entry.ts
.wrangler/tmp/bundle-Tmg7rz/middleware-insertion-facade.js
.wrangler/tmp/bundle-Tmg7rz/middleware-loader.entry.ts
.wrangler/tmp/bundle-ZbV0EK/middleware-insertion-facade.js
.wrangler/tmp/bundle-ZbV0EK/middleware-loader.entry.ts
.wrangler/tmp/dev-1T2qhH/functionsWorker-0.9865917258193758.js
.wrangler/tmp/dev-1T2qhH/functionsWorker-0.9865917258193758.js.map
.wrangler/tmp/dev-4t2gGI/ProxyServerWorker.js
.wrangler/tmp/dev-4t2gGI/ProxyServerWorker.js.map
.wrangler/tmp/dev-8fHzws/functionsWorker-0.2167670257062302.js
.wrangler/tmp/dev-8fHzws/functionsWorker-0.2167670257062302.js.map
.wrangler/tmp/dev-Cm4uS9/ProxyServerWorker.js
.wrangler/tmp/dev-Cm4uS9/ProxyServerWorker.js.map
.wrangler/tmp/dev-d3hqe5/functionsWorker-0.3070786758453048.js
.wrangler/tmp/dev-d3hqe5/functionsWorker-0.3070786758453048.js.map
.wrangler/tmp/dev-HsbOEB/ProxyServerWorker.js
.wrangler/tmp/dev-HsbOEB/ProxyServerWorker.js.map
.wrangler/tmp/dev-jDubIa/ProxyServerWorker.js
.wrangler/tmp/dev-jDubIa/ProxyServerWorker.js.map
.wrangler/tmp/dev-qGZqHA/functionsWorker-0.5962854498120994.js
.wrangler/tmp/dev-qGZqHA/functionsWorker-0.5962854498120994.js.map
.wrangler/tmp/pages-2iHmQF/functionsRoutes-0.7998787869488948.mjs
.wrangler/tmp/pages-2iHmQF/functionsWorker-0.3070786758453048.mjs
.wrangler/tmp/pages-2iHmQF/functionsWorker-0.3070786758453048.mjs.map
.wrangler/tmp/pages-J4pFiJ/functionsRoutes-0.8786783591408388.mjs
.wrangler/tmp/pages-J4pFiJ/functionsWorker-0.5962854498120994.mjs
.wrangler/tmp/pages-J4pFiJ/functionsWorker-0.5962854498120994.mjs.map
.wrangler/tmp/pages-TEqfje/functionsRoutes-0.15396661281897517.mjs
.wrangler/tmp/pages-TEqfje/functionsWorker-0.9865917258193758.mjs
.wrangler/tmp/pages-TEqfje/functionsWorker-0.9865917258193758.mjs.map
.wrangler/tmp/pages-ZpIXf8/functionsRoutes-0.027355430795404034.mjs
.wrangler/tmp/pages-ZpIXf8/functionsWorker-0.2167670257062302.mjs
.wrangler/tmp/pages-ZpIXf8/functionsWorker-0.2167670257062302.mjs.map
public/purplestyle.css
plannedfeatures.txt
